<html>
  <head>
    <meta charset="utf-8">
    <title>Prizes</title>
    <script type="text/javascript">
      var login_id = "<%= @login_id %>";
    </script>
    <script type="text/javascript" src="/js/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <% @prizes.each do |prize| %>
      <div id="prize-<%= prize.id %>" style="border:#000000 solid 1px; margin: 5px;" onclick="getPrize(<%= prize.id %>)">
	<h3><%= prize.name %></h3>
	<img src="<%= prize.image_url %>" width="80">
	<%= prize.description %>
	<%= prize.point %> ポイント
      </div>
    <% end %>
  </body>
</html>

