<html>
  <head>
    <meta charset="utf-8">
    <title>Prizes</title>
    <script type="text/javascript">
      var login_id = "<%= @login_id %>";
    </script>
    <%= erb :common_js_css %>
  </head>
  <body>
    <%= erb :header %>

    <div class="container">
      <% @prizes.each do |prize| %>
	<section id="prize-<%= prize.id %>" class="card" onclick="getPrize(<%= prize.id %>)">
	  <div style="text-align: center;">
	    <img class="card-img" src="<%= prize.image_url %>">
	  </div>
	  <div class="card-content">
	    <h1 class="card-title"><%= prize.name %></h1>
	    <p class="card-text"><%= prize.description %></p>
	    <p class="prize-price"><%= prize.point %> ポイント<p>
	  </div>
	</section>
      <% end %>
    </div>
  </body>
</html>
