<html>
  <head>
    <meta charset="utf-8">
    <title><%= @completed ? 'Completed' : 'Register' %></title>
    <script type="text/javascript">
      var registered_training_count = "<%= (@current_user.nil?) ? 'pushup' : @current_user.id %>";
      var registered_tv_program_id = <%= (@tv_program.nil?) ? 'null' : @tv_program.id %>;
      var registered_tv_program_title = "<%= (@tv_program.nil?) ? nil : @tv_program.title %>";
    </script>
    <%= erb :common_js_css %>
  </head>
  <body onload="initRegistrationPage(registered_tv_program_title)">
    <%= erb :header %>

    <div class="container">
      <h1><%= @completed ? '設定が完了しました。' : 'トレーニングの内容を設定してください。' %></h1>
      <form action="/register" method="post">
	<div>
	  <div>
	    <h3>テレビ番組</h3>
	    <a id="registered_tv_program" class="btn btn-default" href="/tvprograms">テレビ番組を選択してください。</a>
	  </div>

	  <div>
	    <h3>トレーニングメニュー</h3>
	    <div class="btn-group">
	    <select name="training_type" class="btn btn-default">
	      <option value="pushup" <%= ((@current_user and @current_user.training_type == 'pushup') ? 'selected' : '') %> >腕立て伏せ</option>
	      <option value="shitup" <%= ((@current_user and @current_user.training_type == 'shitup') ? 'selected' : '') %>>腹筋</option>
	      <option value="default_squat" <%= ((@current_user and @current_user.training_type == 'default_squat') ? 'selected' : '') %>>スクワット</option>
	      <option value="squat" <%= ((@current_user and @current_user.training_type == 'squat') ? 'selected' : '') %>>ジャンピングスクワット</option>
	    </select>
	  </div>
	</div>
	<div>
	  <h3>回数</h3>
	  <select name="training_count" class="btn btn-default">
	    <option value="5" <%= ((@current_user and @current_user.training_count == 5) ? 'selected' : '') %>>5回</option>
	    <option value="10" <%= ((@current_user and @current_user.training_count == 10) ? 'selected' : '') %>>10回</option>
	    <option value="20" <%= ((@current_user and @current_user.training_count == 20) ? 'selected' : '') %>>20回</option>
	    <option value="30" <%= ((@current_user and @current_user.training_count == 30) ? 'selected' : '') %>>30回</option>
	  </select>
	</div>
	<hr>
	<input type="submit" value="設定" class="btn btn-warning">
      </form>
      <a href="#" onclick="goToTrainingPage()">トレーニングを始める</a>
    </div>
  </body>
</html>
