<html>
  <head>
    <meta charset="utf-8">
    <title>Training</title>
    <script type="text/javascript">
      var datetime = "<%= @datetime %>";
      var login_id = "<%= @login_id %>";
      var target_count = <%= @target_count %>;
      var obtained_point = <%= @obtained_point %>;
    </script>
    <%= erb :common_js_css %>
  </head>
  <body onload="init()">
    <%= erb :header %>
    <h1>筋トレ画面</h1>
    <div id="result_message"></div>
    <font size="7">
      <span id="training_count">0</span> 回
      あと <span id="remaining_count"><%= @target_count %></span> 回
    </font>
  </body>
</html>
