<html>
  <head>
    <meta charset="utf-8">
    <title>Training</title>
    <script type="text/javascript">
      var datetime = "<%= @datetime %>";
      var login_id = "<%= @login_id %>";
      var targetCount = <%= @target_count %>;
      var remainingCount = <%= @target_count %>;
      var obtainedPoint = <%= @obtained_point %>;
    </script>
    <%= erb :common_js_css %>
  </head>
  <body onload="init()">
    <%= erb :header %>
    <div class="container" style="text-align: center;">
      <span id="training_label">JUMPING SQUATS</span>
      <div id="result_message"></div>
      <div id="remaining_count_box">
	残り<span id="remaining_count" class="training_count"><%= @target_count %></span>回
      </div>
      <img src="/images/training.png">
    </div>
  </body>
</html>
